<!DOCTYPE html>
 {% load staticfiles %} {% load static %}
 {% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static "css/flipclock.css" %}">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static "js/flipclock.js" %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        {% block css%}
    {% endblock css%}
    {% block extrahead %}
    {% endblock %}.
    
</head>
<body style="font-family: 'Oswald', sans-serif !important;">

{% block bootstrap3_content %}
<div class="container">
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'reviews:review_list' %}">Winerama</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'reviews:wine_list' %}">Wine list</a></li>
            <li><a href="{% url 'reviews:review_list' %}">Home</a></li>
            <li><a href="{% url 'reviews:user_recommendation_list' %}">Recommendation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth:login' %}">Login</a></li>
            <li><a href="/accounts/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
    

    <h1>{% block title %}(no title){% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}

</body>
</html>